[[template "header" .]]
<script>
	var app = angular.module("cron", ["ngNotify", "duScroll"])
		.value('duScrollOffset', 30);
	app.controller("MainCtrl", function($scope, $http, ngNotify, $document){
		// ngNotify.set("Hi");
		$scope.records = [[.Records]];
		console.log($scope.records);
		var top = 400;
		var duration = 2000;
	});
</script>

<div class="container" ng-controller="MainCtrl">
	<div class="row">
		<div class="col-md-3" id="left">
			<form id="search-form" class="form">
				<div class="input-group">
					<input type="input" ng-model="search" class="form-control" placeholder="Search for ..." autofocus>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
			<nav class="affix-top">
				<ul class="nav side-nav">
					<li ng-repeat="t in records | filter:search">
						<div class="item-title">
							<a href="/{{t.name}}">
								<h3>{{t.name}} {{t.running}}</h3>
							</a>
							<span class="pull-right">
								<a href="/{{t.name}}/builds/{{t.index}}">#{{t.index}}</a>
							</span>
						</div>
						<div class="item-info">
							<span class="glyphicon glyphicon-time"></span>
							Duration: {{t.duration/1000000}} sec
						</div>
						<div class="item-info">
							<span class="glyphicon glyphicon-calendar"></span>
							Finished: {{t.created_at}}
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-md-9">
			<div id="main-content" du-scroll-container>
				<div>
					<h2>mysqldump</h2>
					<div>
						<section class="tile">
							<div class="tile-status">
								<span class="icon-status glyphicon glyphicon-ok"></span>
							</div>
							<div class="tile-main">
							</div>
							<div class="tile-additional">
							</div>
						</section>
					</div>

					<h2>Terminal</h2>
				</div>
				<div ng-repeat="t in records | filter:search" id="{{t.name}}" class="panel panel-info">
					<div class="panel-heading">
						<h4>{{t.name}} <small>{{t.task.schedule}}</small></h4>
					</div>
					<div class="panel-body">
						Command: {{t.task.command}}
					</div>
					<div class="panel-footer">
						{{t.task.description}}
					</div>
				</div>
			</div>
		</div>
</div>
[[template "footer" .]]
