<!DOCTYPE html>
<html ng-app="cron">
	<meta charset="utf-8">
	<link href="bower_components/ng-notify/dist/ng-notify.min.css" rel="stylesheet">
	<!--
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	-->
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<!-- bootstrap -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- angular -->
	<script src="bower_components/angularjs/angular.min.js"></script>
	<script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
	<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!--
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
	-->
	<link href="/css/settings.css" rel="stylesheet">
	<style>
		ul.nav>li>a.active{
			color: red;
			font-weight: 800;
		}
	</style>
		<script>
			var app = angular.module("cron", ["ngNotify", "duScroll"])
				.value('duScrollOffset', 30);
			app.controller("MainCtrl", function($scope, $http, ngNotify, $document){
				$scope.name = "hi";
				$scope.envVars = {GOPATH: "/User/skyblue"};
				$scope.submitAddEnv = function(e){
					$scope.envVars[e.name] = e.value;
					e.name = e.value = "";
				};
				$scope.envDel = function(name) {
					delete($scope.envVars[name]);
				};
			});
			$(function(){
			});
		</script>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						WebCrontab
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">主页</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</div>
		</div>

		<div class="container" ng-controller="MainCtrl">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
					<div class="settings">
						<section class="settings-section">
							<h2 class="small-title">Environment Variables</h2>
							<ul class="settings-list-envvars">
								<li ng-repeat="(name, value) in envVars">
									<div class="settings-envvar">
										<div class="env-var-name">{{name}}</div>
										<div class="env-var-value">
											<input class="form-control" type="text" readonly="readonly" value="{{value}}">
										</div>
										<div class="env-var-action">
												<a href="#" ng-click="envDel(name)">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											<div class="tooltip">
											</div>
										</div>
									</div>
								</li>
							</ul>
							<form class="form" ng-submit="submitAddEnv(newEnv)">
								<div class="form-group">
									<div class="form-elem">
										<input type="text" ng-model="newEnv.name" class="form-control env-name" placeholder="Name">
									</div>
									<div class="form-elem">
										<input type="text" ng-model="newEnv.value" class="form-control env-value" placeholder="Value">
									</div>
									<div class="form-elem">
										<button type="submit" class="btn btn-info env-button">Add</button>
									</div>
								</div>
							</form>
						</section>
					</div>
					<div du-scroll-container>
						<div ng-repeat="t in tasks" id="{{t.name}}" class="panel panel-info">
							<div class="panel-heading">
								<h4>{{t.name}} <small>{{t.schedule}}</small></h4>
							</div>
							<div class="panel-body">
								Command: {{t.command}}
							</div>
							<div class="panel-footer">
								{{t.description}}
							</div>
						</div>
					</div>
				</div>
		</div>
	</body>
</html>
